server:
  port: 8085

spring:
  datasource:
    url: jdbc:h2:mem:user-service-db;
    driverClassName: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        use_sql_comments: true
        format_sql: true

  flyway:
    url: jdbc:h2:mem:user-service-db
    user: sa
    password:
    group: true
    enabled: true
    baseline-on-migrate: true
logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
      springframework:
        web: DEBUG
        data: DEBUG








